@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html, body, #root, .App {
  height: 100%;
  margin: 0;
}

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  background-color: white;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1800px;
  margin: 0 auto;
  border-bottom: 3px solid #f2f2f2;
}
.navbar h1 {
  color: #618264;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #618264;
}
.content {
  max-width: 1800px;
  margin: 40px auto;
  padding: 20px;
  height: 100%;
}
.flex-container, .home {
  height: 80%;
}

/* task previews / list */
.taskBoard, .taskBoard-list, .taskBoard h3 {
  background-color: #F1F1F1;
}

.taskBoard {
  padding: 10px 16px;
  margin: 20px 20px;
  border-radius: 12px 12px 0px 0px;
  height: 100%;
}

.taskBoard h3 {
  color: #618264;
  display: block;
  width: 100%;
}

.taskBoard-list {
  display: flex;
}

.taskBoard-list-item {
  padding: 10px 16px;
  margin: 15px 15px;
  border-bottom: 1px solid #fafafa;
  width: 20%;
  border-radius: 12px;
}
.taskBoard-list-item:hover {
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}
.taskBoard-list-item h2 {
  font-size: 20px;
  color: #9BBBA2;
  margin-bottom: 8px;
}
.taskBoard-list-item a{
  text-decoration: none;
}

/* task details page */
.task-details h2 {
  font-size: 20px;
  color: #9BBBA2;
  margin-bottom: 10px;
}
.task-details div {
  margin: 20px 0;
  background-color: white;
}
.task-details button {
  background: #9BBBA2;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new task form */
.createTask {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.createTask label {
  text-align: left;
  display: block;
}
.createTask h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.createTask input, .createTask textarea, .createTask select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.createTask button {
  background: #9BBBA2;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}